node_modules/
npm-debug.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist/
.vite/

logs
*.log

docker-data/
postgres_data/

.vscode/

.DS_Store
Thumbs.db

coverage/

tmp/
temp/